.RData
.Rhistory
*~
.*
\#*#
*.swp
.hypothesis
.cache
*.pyc
stimtime/*/
stims/
recall_js/bower_components/
recall_js/img/
recall_js/node_modules/
img/
overview_images/
junk/
etc/
SUN/
eeg/
screenshots/
viewpoint/
analysis/testeyedata/
rsync.bash
rsync_fetch.bash
subj_info/
