[Desktop Entry]
Name=eye_cal
GenericName=EEG eye calibration
Comment=
Exec=bash -c "source ~/.venv/bin/activate; cd ~/tasks/mgs_encode_memory.py/; ./eeg_eyecal.py"
Type=Application
Icon=application-x-desktop
Terminal=true
