<!DOCTYPE html>
<html>
   <meta charset="UTF-8">
   <head>
      <script src="vue.js"></script>
      <script src="csv.js"></script>
      <script src="jquery.js"></script>
      <title>MGSEM Recall</title>
   </head>
   <body>
      <div id="disp">
         <button v-on:click="getlist()"> load </button>
         {{cur_slide}}
         {{cur_idx}}

         <div v-if="cur_slide === 'saw'">
            <button v-on:click="saw(-1)"> did not see </button>
            <button v-on:click="saw(-.5)"> maybe did not see </button>
         </div>

         <div v-if="cur_slide === 'side'">
            <button v-on:click="side(-1)"> left </button>
            <button v-on:click="side(-.5)"> left </button>
         </div>


         <img :src="cur_img">

         <div v-if="cur_slide === 'saw'">
            <button v-on:click="saw(.5)"> maybe saw </button>
            <button v-on:click="saw(1)"> saw </button>
         </div>

         <div v-if="cur_slide === 'side'">
            <button v-on:click="side(.5)"> right </button>
            <button v-on:click="side(1)"> right </button>
         </div>

         <div >
            {{JSON.stringify(imglist)}}
         </div>

      </div>
      <script src="index.js">
      </script>
   </body>
</html>

